<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Como a Ciatech quadruplicou os acessos ao site e o número de Leads gerados | estudo de caso de marketing digital</title>
     <!-- Bootstrap core CSS -->
    <link href="assets/bootstrap.css" rel="stylesheet">
    <link href="assets/style.css" rel="stylesheet" media="screen">

    <!-- Custom styles for this template -->
    <!--<link href="assets/navbar.css" rel="stylesheet">-->

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../docs-assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
      <!-- Navbar -->
      <nav class="navbar navbar-default container" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="logo navbar-brand active" href="/">
            <span class="logoicon-resultados">Resultados</span> <span class="logoicon-digitais">Digitais</span>
          </a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a href="http://resultadosdigitais.com.br/blog/" class="dropdown-toggle" data-toggle="dropdown">Conteúdo <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="http://resultadosdigitais.com.br/materiais-educativos/">Materiais Educativos</a></li>
                <li><a href="http://resultadosdigitais.com.br/blog/">Blog</a></li>
                <li><a href="http://cursos.resultadosdigitais.com.br/">Cursos Online</a></li>
              </ul>
            </li>            
            <li><a href="http://www.rdstation.com.br/">Software</a></li>
            <li class="dropdown">
              <a href="http://www.rdstation.com.br/" class="dropdown-toggle" data-toggle="dropdown">Serviços <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="http://resultadosdigitais.com.br/consultoria/">Consultoria</a></li>
                <li><a href="http://resultadosdigitais.com.br/parceiros/">Parcerias</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="http://resultadosdigitais.com.br/sobre/" class="dropdown-toggle" data-toggle="dropdown">Sobre <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="http://resultadosdigitais.com.br/sobre/">A Empresa</a></li>
                <li><a href="http://resultadosdigitais.com.br/trabalhe-conosco/">Trabalhe Conosco</a></li>
                <li><a href="http://resultadosdigitais.com.br/contato/">Contato</a></li>                
              </ul>
            </li>            
          </ul>
          <a href="http://www.rdstation.com.br/aplicacao" class="btn btn-default navbar-btn navbar-right" target="_blank">Login</a>
        </div><!--/.nav-collapse -->
      </nav>

      <!-- Header -->
      <header>
        <div class="jumbotron header_rds">
          <div class="container">
            <div class="row">
              <div class="col-sm-4 col-md-4">
                <a class="brand" href="index.html"> <img src="assets/logo_rdstation.jpg"></a>
              </div>
              <div class="col-sm-8 col-md-8">  
                <ul class="nav nav-pills navbar-right">
                  <li><a href="http://www.rdstation.com.br/funcionalidades">Funcionalidades</a></li>
                  <li><a href="http://www.rdstation.com.br/precos">Planos e Preços</a></li>
                  <li><a href="http://pages.rdstation.com.br/teste-gratuito-do-rd-station">Teste Grátis</a></li>
                  <li class="active"><a href="/estudos-de-caso">Estudo de Caso</a></li>
                  <li><a href="/">Blog</a></li>
                </ul>  
              </div>  
            </div>  
          </div>
        </div>  
      </header>

      <!-- Main content -->
      <section>
        <div class="page-header">
          <div class="container">
            <div class="row">
              <div class="col-sm-6 col-md-6">  
                <h1>Estudo de Caso</h1>
              </div>
            </div> 

            <div class="row line-header">
              <div class="col-sm-7 col-md-7">
                <p class="lead">Veja aqui como nossos clientes de diversos segmentos vêm obtendo resultados melhores e mais consistentes em Marketing Digital.</p>
              </div>      
              <div class="col-sm-5 col-md-5">
                <ul class="nav nav-pills navbar-right custom-nav">
                  <li class="active"><a href="http://blog.rdstation.com.br/estudos-de-caso/segmentos/educacao/">Educação</a></li>
                  <li><a href="http://blog.rdstation.com.br/estudos-de-caso/segmentos/servicos/">Serviços</a></li>
                  <li><a href="http://blog.rdstation.com.br/estudos-de-caso/segmentos/software/">Software</a></li>
                   <li><a href="http://blog.rdstation.com.br/estudos-de-caso/">Todos</a></li>
                </ul>               
              </div> 
            </div>  
          </div>  
        </div>

      <!-- Estudo de caso ciatech -->
      <div class="container">
        <div class="row ft">
          <div class="col-sm-12 col-md-12">
            <div class="center_img1">
              <img src="assets/ciatech_logo_p.jpg">
            </div>  
          </div>           
        </div>
          
        <div class="row ft">
          <div class="col-sm-12 col-md-12 ft-copy">          
                <h2 class="h2-center">Como a Ciatech quadruplicou os acessos ao site e aos Leads gerados</h2>
          </div>      
        </div>

        <div class="row ft">
          <div class="space-circle circle1">
            <div class="circle"> 
                <h1 class="h1-circle">4x</h1> <p>número de acessos em um período de um ano</p>
            </div>
          </div>
          <div class="space-circle">  
            <div class="circle"> 
              <h1 class="h1-circle">4x</h1> <p>número de Leads gerados</p>
            </div> 
          </div>  
          <div class="space-circle"> 
            <div class="circle"> 
              <h1 class="h1-circle">17</h1> <p>termos que aparecem na primeira página do Google</p>
            </div>  
          </div>    
        </div>  
        
        <div class="row ft"> 
          <div class="col-sm-12 col-md-12 ft-copy">          
              <p class="lead2">
                  O site vinha atraindo um número considerável de visitas, mas a empresa percebeu que não conseguia mensurar e conhecer seus usuários. Dentro de uma nova estratégia de posicionamento online, era preciso conquistar visitantes qualificados e convertê-los em Leads.
              </p>
          </div>      
        </div>
    

        <div class="row ft">
          <div class="col-sm-12 col-md-12 ft-copy">          
                <p class="p-lead">
                  A empresa precisava ter maneiras mais eficazes de atrair esse público-alvo e gerar conversões, mas não sabia como operacionalizar essas ações.
                </p>
          </div>
        </div>         

        <div class="row ft">
          <div class="col-sm-6 col-md-6 ft-copy"> 
            <h2>Solução</h2>
            <p>
              A partir da utilização do RD Station e com a orientação dos consultores da Resultados Digitais, a empresa passou a trabalhar suas estratégias de marketing com objetivos e metas bem definidos.
            </p>
            <p>
              <em>“Passamos a perceber os benefícios de nossa presença online e a direcionar melhor os esforços em marketing digital”</em>, explica Felipe Menhem, analista de comunicação e marketing da Ciatech. <em>“Com a ajuda da consultoria, conseguimos identificar as ações que deveriam ser priorizadas. O trabalho de consultoria da Resultados Digitais é importante neste sentido”</em>, avalia.
            </p>
            <p>
              Para atingir seus objetivos de trazer mais visitantes qualificados para o site e convertê-los em Leads, a empresa vem desenvolvendo conteúdos ricos que disponibiliza gratuitamente por meio de Landing Pages, criadas no sistema de forma instantânea e sem a necessidade do auxílio de um designer. Hoje já são mais de 60 páginas de conversão geradas pela empresa por meio do software.
            </p>  
          </div>


          <div class="col-sm-6 col-md-6 ft-copy"> 
            <div class="center_img">
              <img src="assets/landing-page-Ciatech-535x304.png">
              <p class="legend">Exemplo de Landing Page criada pela Ciatech no RD Station</p>
            </div>
          </div>  

        </div> 
                              
      </div>        

      <div class="box_quote">
        <div class="container"> 
          <div class="row ft">
            <div class="col-sm-2 col-md-2 ft-copy">
              <div class="photo-quote">
                <img src="assets/foto_felipe.png">
              </div>
            </div>  

            <div class="col-sm-10 col-md-10 ft-copy"> 
              <p class="quote">
                <em>“O RD Station é uma ferramenta muito fácil de usar. Permite gerenciar Landing Pages, onde eu posso ter controle e saber quem são as pessoas que estão interessadas no meu conteúdo e trabalhar de acordo com o interesse no meu negócio. Pelo software posso também monitorar uma série de outros fatores e dados que são importantes para quem trabalha com comunicação e marketing online.”</em></p>
              <p class="quote-name">
                <strong>Felipe Menhem</strong>, Analista de comunicação e marketing da Ciatech
              </p>    
            </div>
          </div> 
        </div>  
      </div>   

      <div class="container">
        <div class="row tf">
          <div class="col-sm-6 col-md-6 ft-copy"> 
            <p>
              Utilizando o Painel de palavras-chave do RD Station, a equipe de marketing identifica os termos que melhor devem ser otimizados on-page (SEO), analisando a concorrência, o posicionamento no ranking, as taxas de conversão. Também avalia os resultados dos investimentos realizados em Google Adwords, por meio de informações que auxiliam a economizar e a garantir um retorno efetivo sobre cada termo.
            </p>
            <p>
              Paralelamente, a Ciatech monitora a movimentação de Leads e as estatísticas de visitas e fontes de tráfego para verificar a efetividade das ações. Outra ferramenta bastante utilizada pela empresa é a de agendamento diário de publicações nas redes sociais, permitindo que os horários de publicações sejam mais adequados e melhor distribuídos.
            </p>
          </div>          
          <div class="col-sm-6 col-md-6 ft-copy"> 
            <div>
              <img src="assets/grafico2.png">
              <p class="legend">Uma das palavras-chave monitoradas pela Ciatech no painel do RD Station.</p>
            </div>
          </div> 
        </div>  
      </div>  

      <div class="container">
        <div class="row tf">
          <div class="col-sm-6 col-md-6 ft-copy">
            <h2>Resultados</h2>
          </div>
        </div>   
      </div> 

      <div class="box_quote quote2">
        <div class="container"> 
          <div class="row ft">
            <div class="col-sm-2 col-md-2 ft-copy">
              <div class="photo-quote">
                <img src="assets/foto_felipe.png">
              </div>
            </div>  

            <div class="col-sm-10 col-md-10 ft-copy pquote2"> 
              <p class="quote">
                <em>“Como resultado das novas estratégias de marketing digital implementadas, conseguimos quadruplicar o número de acessos em um período de um ano. O mesmo aconteceu com a quantidade de Leads gerados”</em>
              </p>  
              <p class="quote-name">
                <strong>Felipe Menhem</strong>, Analista de comunicação e marketing da Ciatech
              </p>    
            </div>
          </div> 
        </div>  
      </div>  

      <div class="container">
        <div class="row tf">
          <div class="col-sm-12 col-md-12 ft-copy">
            <p  class="p-lead">
              O posicionamento das páginas da empresa na lista dos resultados de buscas também teve um incremento bem significativo. Atualmente, dentre as palavras-chave monitoradas, a Ciatech conta com 17 termos que aparecem na primeira página do Google. Uma melhoria e tanto, considerando que há um ano, apenas duas dessas palavras-chave apareciam na primeira página. E já são 7 termos entre as 3 primeiras posições.<br><br>
              Esses números são indicativos de que os acessos e, consequentemente, os Leads tendem a crescer ainda mais, superando as expectativas.
            </p>  
          </div>          
        </div> 

        <div class="row tf about">
          <div class="col-sm-12 col-md-12 ft-copy">
              <div class="center_img1">
                <img src="assets/ciatech_logo_p.jpg">
              </div>

          <div class="col-sm-12 col-md-12 ft-copy">
            <h3 class="h3-about">Sobre a Ciatech</h3>
            <p class="p-about">
              A <a href="http://www.ciatech.com.br/" onclick="javascript:_gaq.push(['_trackEvent','outbound-article','http://www.ciatech.com.br/']);">Ciatech</a> é uma companhia especializada em soluções B2B para o treinamento e desenvolvimento corporativo à distância por meio de conteúdos e-Learning personalizados, conteúdos de catálogo, plataforma LMS, redes sociais corporativas e consultoria e governança
            </p>
          </div>     
          </div>  
        </div> 
      </div>  

      </section>  

      <footer>
        <div class="container">
          <div class="row tf">
            <div class="col-md-12">
              <a class="brand" href="http://resultadosdigitais.com.br/"> <img src="assets/logo_rd.jpg"></a>
              <h4 class="h4-footer">A Resultados Digitais é uma empresa especializada em Marketing Digital de resultados.</h4>
              <p class="pfooter">Através do software RD Station, de uma metodologia própria e serviços de consultoria complementares, ajudamos nossos clientes a gerar mais resultados em tráfego, geração de Leads e vendas para seus negócios, além de construir um sólido ativo de Marketing Digital.</p>
            </div>
          </div>  
        </div>

        <div class="container">
          <div class="row menu-footer">
            <div class="col-sm-6 col-md-3">
              <h3 class="h3footer">Conteúdo</h3>
              <ul class="footer-links">
                <li><a href="http://resultadosdigitais.com.br/blog/">Blog</a></li>
                <li><a href="http://resultadosdigitais.com.br/materiais-educativos/">Materiais Educativos</a></li>
                <li><a href="http://cursos.resultadosdigitais.com.br/">Cursos</a></li>
              </ul>
            </div>  

            <div class="col-sm-6 col-md-3">
              <h3 class="h3footer">Sofware</h3>
              <ul class="footer-links">
                <li><a href="http://www.rdstation.com.br/">Home</a></li>
                <li><a href="http://www.rdstation.com.br/funcionalidades">Funcionalidades</a></li>
                <li><a href="http://www.rdstation.com.br/precos">Planos e Preços</a></li>
                <li><a href="/estudos-de-caso/">Cases</a></li>
                <li><a href="/">Blog</a></li> 
              </ul>
            </div>

            <div class="col-sm-6 col-md-3">
              <h3 class="h3footer">Serviços</h3>
              <ul class="footer-links">
                <li><a href="http://resultadosdigitais.com.br/consultoria/">Consultoria</a></li>
                <li><a href="http://resultadosdigitais.com.br/parceiros/">Parcerias</a></li>
              </ul>
            </div>

            <div class="col-sm-6 col-md-3">
              <h3 class="h3footer">Sobre</h3>
              <ul class="footer-links">
                <li><a href="http://resultadosdigitais.com.br/sobre/">A Empresa</a></li>
                <li><a href="http://resultadosdigitais.com.br/trabalhe-conosco/">Trabalhe Conosco</a></li>
                <li><a href="http://resultadosdigitais.com.br/contato/">Contato</a></li>
              </ul>
            </div>
          </div>  

          <div class="row">
            <div class="col-md-12">
              <p class="pfooter pfooter-2">Copyright © 2013 Resultados Digitais. <a class="fottter-links2" href="http://resultadosdigitais.com.br/politica-de-privacidade/" target="_blank">Política de Privacidade</a>.</p>
            </div>  
          </div>  
        </div>
      </footer>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="assets/bootstrap.min.js"></script>
  </body>