/* Typography
================================= */

h1 {
	color: #b2805d;
	font-size: 4em;
    font-weight: 200;
    line-height: 1em;
    margin: 15px 0 30px;
}

h2 {
	color: #b19b5c;
	font-size: 3.2em;
    font-weight: 200;
    line-height: 1em;
    margin: 30px 0 20px;
}	

p {
	color: #666;
	font-size: 1.125em;
}

a {
    color: #b2805d;
    font-weight: 700;
}

a:hover {
    color: #b19b5c;
    font-weight: 700;
}

.lead {
	font-size: 1.4em;
}

.lead2 {
	font-size: 1.8em;
	margin-bottom: 30px;
    margin-top: 50px;
    text-align: center;
    padding: 0 120px;
}

.p-lead {
    text-align: center;
    font-size: 1.2em;
    padding: 0 120px;
    margin-bottom: 70px;
}

.h1-circle {
    color: #b19b5c;
    margin: 0;
}

.h2-center {
    text-align: center;
    margin-bottom: 40px;
    padding: 0 120px;
    line-height: 120%;
}

.h3-about {
    color: #b19b5c;
    text-align: center;
    font-weight: 600;
}

.h3footer {
    color: #dad3cb;
    padding-bottom: 10px;
}

.h4-footer {
    color: #dad3cb;
    padding-top: 0px;
    font-weight: 600;
    font-size: 1.5em;
}

.quote {
	font-size: 1.5em;
	margin-top: 20px;
}

.quote-name {
	color: #b09a5b;
}

.legend{
	color: #b09a5b;
	margin-top: 10px;
}

/* Navbar
================================= */

.logoicon-resultados {
	font-size: 1.125em;
	font-weight: bold;
	color: #7c92a3;
}

.logoicon-digitais {
	font-size: 1.125em;
	color: #9ea1a3;
    font-weight: normal;
}

.navbar {
    border: 1px solid rgba(0, 0, 0, 0);
    height: 50px;
    position: relative;
    padding-left: 0px;
}

/* navbar */
.navbar-default {
    background-color: #F8F8F8;
    border-color: #E7E7E7;
}
/* title */
.navbar-default .navbar-brand {
    color: #777;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    background-color: #dde5ea;
    height: 49px;
}

/* link */
.navbar-default .navbar-nav > li > a {
    color: #506e84;
    font-weight: bold;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #35739f;
    background-color: #dde5ea;
    height: 49px;
}

.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    color: #506e84;
    background-color: #d2dde4;
    height: 49px;
}

.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
    color: #506e84;
    background-color: #d2dde4;
    height: 49px;
}    

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    background-color: #506e84;
    color: #fff;
    text-decoration: none;
}


/* caret */
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #506e84;
    border-bottom-color: #506e84;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #35739f;
    border-bottom-color: #35739f;
}
.navbar-default .navbar-nav > .open > a .caret, 
.navbar-default .navbar-nav > .open > a:hover .caret, 
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: #506e84;
    border-bottom-color: #506e84;
}
/* mobile version */
.navbar-default .navbar-toggle {
    border-color: #DDD;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #DDD;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #CCC;
}
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #506e84;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #333;
    }
}


/* Header
================================= */

.jumbotron {
	padding-top: 35px;
	margin-top: 0;
}

.main-logo {
	width: 182px;
	height: 36px;
	margin-top: 22px;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	background: url('assets/logo_rdstation.jpg') no-repeat;
	background-size: 100%;
}


.header_rds {
	height: 125px;
	background-color: #846d50;
	border-top: 3px solid #6a5741;
	margin-top: 0;
}

header .nav-pills > li > a {
    color: #E5E9ED;
}

header .nav-pills > li > a {
    color: #EDE9E5;
    font-size: 0.7em;
    font-weight: 400;
}
header .nav-pills > li > a {
    border-radius: 5px;
}
header .nav > li > a {
    display: block;
    padding: 10px 15px;
    position: relative;
}

header .nav-pills > li > a:hover, header .nav-pills > li > a:focus, header .nav-pills > li.active > a, header .nav-pills > li.active > a:hover, header .nav-pills > li.active > a:focus {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #FFFFFF;
}

.nav-pills > li.active > a {
    font-weight: bold;
}

/* paHeader
================================= */

.line-header{
    border-bottom: 2px dotted #CCCCCC;
    margin-bottom: 0.2em;
    padding-bottom: 3em;
}

.custom-nav >li >a {
    color: #b2805d;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.8em;
 }

 .custom-nav > li > a:hover {
      color: #b19b5c;
 }

 .custom-nav > li.active > a {
    background-color: #b2805d;
    border-radius: 3px;
    padding: 8px 16px 7px;
}

 .custom-nav > li.active > a:hover {
    background-color: #b19b5c;
    border-radius: 3px;
    padding: 8px 16px 7px;
}



/* Imagens e formas
================================= */

.center_img1 {
    margin-top: 30px;
    margin-bottom: 10px;
    text-align: center;
}

.center_img {
	margin-top: 70px;
    margin-bottom: 10px;
    text-align: center;
}

.circle {
width: 190px;
height: 190px;
border-radius: 50%;
border: 8px solid #b09a5b;
padding: 10px;
margin-right: 50px;


/* IE8+ */
display: table-cell;
text-align: center;
vertical-align: middle;

}

.space-circle {
    margin-right: 40px;
    float: left;
}

.circle1 {
    margin-left: 250px;
}

.container {
    margin: 0 auto;
}

.box_quote {
	height: 230px;
	background-color: #dbdada;
	margin: 70px 0;
}

.quote2 {
	margin-top: 10px;
	margin-bottom: 50px;
}

.pquote2 {
    padding-top: 30px;
}

.p-about {
    text-align: center;
    padding: 0 120px;
}

.pfooter {
    color: #dad3cb;
    font-size: 1em;
}

.photo-quote {
	border: 8px solid #b09a5b;
	width: 170px;
	height: 170px;
	border-radius: 200px;
	background-color: #ccc;
	margin-top: 30px;
}

.about {
    border-top: 1px dotted #CCCCCC;
    margin-bottom: 20px;
}

/* Footer
================================= */

footer {
    background-color: #846D50;
    border-top: 3px solid #6a5741;
    margin-top: 70px;
    padding-top: 60px;
}

.footer-links {
    list-style: none;
    padding-left: 20px;
}

.footer-links > li > a {
    color: #fff;
    font-weight: normal;
}

.fottter-links2 {
    color: #fff;
    font-weight: normal;
}

a.fottter-links2:hover {
    color: #fff;
    font-weight: normal;
}

.menu-footer {
    padding-bottom: 10px;
}

.pfooter-2 {
    padding-bottom: 60px;
}